.grid-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.square {
    background-color: rgb(230, 230, 230);
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.square:hover {
    background-color: green;
}

.square.active {
    background-color: green;
}

.button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}